*
.*
!src
!src/ezlang
!src/ezlang/*.py
!pyproject.toml
!LICENSE
!README.md
!example.ezlang.txt
!dist
!dist/ezlang-0.0.1-py3-none-any.whl
!dist/ezlang-0.0.1.tar.gz
!.gitignore
!.replit
!.cache
!.cache/replit
!.cache/replit/*
!.cache/replit/.*
!replit.md
